body {
    margin: 0;
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0.2; 
    } 
    100% { 
        opacity: 1; 
     } 
    }

#spacer {
    height: 15px;
}

/*
 Nav section
*/

nav {
    background-color: #E2DED9;
}

#nav-logo {
    margin-left: 5%;
}

#nav-links {
    position: absolute;
    top: 5%;
    right: 5%;
}

#nav-links a {
    font-family: Filson Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-align: center;
    margin: 14px 45px;
    text-decoration: none;
}

#nav-links a:hover {
    color: #3D71D6;
}

#nav-links #about {
    border: 1px solid #000000;
    padding: 11px 14px;
    margin: 14px 30px;
    border-radius: 10px;
}

/*
 Page content
*/

#page-content {
    background-color: #E2DED9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#description {
    grid-column: 1;
}

#why-title {
    margin-top: 10%;
}

#at-a-glance {
    grid-column: 2;
}

#shanghai {
    position: absolute;
    top: 44%;
    right: 38%;
    z-index: 21;
}

#sh-box {
    top: auto;
    bottom: 24px;
}

#influences {
    position: absolute;
    top: 46%;
    right: 29%;
    z-index: 21;
}

#boba {
    position: absolute;
    top: 63%;
    right: 26%;
    z-index: 21;
}

#badminton {
    position: absolute;
    top: 79%;
    right: 33%;
    z-index: 21;
}

#lofi {
    position: absolute;
    top: 93%;
    right: 24%;
    z-index: 21;
}

#tall {
    position: absolute;
    top: 67%;
    right: 30%;
    z-index: 21;
}

#height-box {
    top: auto;
    bottom: 24px;
    left: auto;
    right: 5px;
}

#photography {
    position: absolute;
    top: 70%;
    right: 36%;
    z-index: 21;
}

#photo-box {
    left: auto;
    right: 5px;
}

#mbti {
    position: absolute;
    top: 100%;
    right: 37%;
    z-index: 21;
}

#mbti-box {
    left: auto;
    right: 5px;
}

.about-blurb:hover .about-box {
    display: block;
}

.about-dot {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #000000;
}

.about-box {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding: 8px 10px;
    border: 2px solid black;
    display: none;
    position: absolute;
    top: 24px;
    left: 5px;
    white-space: nowrap;
}

.pink {
    background-color: #FFE0D9;
}

.light-blue {
    background-color: #C5DFFF;
}

.yellow {
    background-color: #FFEFB7;
}

.classic-blue {
    background-color: #3D71D6;
}

#clouds {
    position: absolute;
    top: 42%;
    right: 12%;
    z-index: 20;
}

h1 {
    font-family: Filson Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
}

#ICB {
    text-decoration: none;
    color: #3D71D6;
}

#resume {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
    background-color: #3D71D6;
    padding: 10px 26px;
    margin-left: 54px;
    border-radius: 3px;
}

#resume-link {
    text-decoration: none;
    color: white;
}

/*
 Footer content
*/

footer {
    background-color: #E2DED9;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer #coded {
    font-family: Filson Pro;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    width: 100%;
}

footer #copyright {
    font-family: Filson Pro;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    width: 100%;
    color: #969696;
    margin-top: 1%;
}