h1 {
    font-family: Filson Pro;
    font-size: 48;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-top: 292px;
}

h2 {
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.05em;
}

#pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
    top: 32px;
    display: table;
}

#pages li {
    float: right; 
}  

#pages li a {
    font-family: Filson Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-align: center;
    margin: 14px 45px;
    text-decoration: none;
}

#pages li a:hover {
    color: #3D71D6;
}

#logo ul {
    list-style-type: none;
    float: left;
    left: 0%;
    top: 14px;
    position: absolute;
}

#logo ul li {
    margin-left: 60px;
}