body {
    margin: 0;
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0.2; 
    } 
    100% { 
        opacity: 1; 
     } 
    }

#spacer {
    height: 15px;
}

/*
 Nav section
*/

nav {
    background-color: white;
}

#nav-logo {
    margin-left: 5%;
}

#nav-links {
    position: absolute;
    top: 5%;
    right: 5%;
}

#nav-links a {
    font-family: filson-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-align: center;
    margin: 14px 45px;
    text-decoration: none;
}

#nav-links a:hover {
    color: #3D71D6;
}

#nav-links #visual {
    border: 1px solid #000000;
    padding: 11px 14px;
    margin: 14px 30px;
    border-radius: 10px;
}

/*
 Page content
*/

#under-construction {
    font-family: filson-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: black;
    text-align: center;
    margin-top: 7%;
    line-height: 50px;
}

#construction {
    font-family: filson-pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: black;
    text-align: center;
    margin-bottom: 5%;
    line-height: 65px;
}

/*
 Footer section
*/

footer {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer #coded {
    font-family: filson-pro;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    width: 100%;
}

footer #copyright {
    font-family: filson-pro;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    width: 100%;
    color: #969696;
    margin-top: 1%;
}